@model WebApPhoneBook.Entitys.PhoneBook
@{
    Layout = "_Layout";
}

<table style="width: 30%" border="1">
    <tr>
        <td>ID: </td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Фамилия: </td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Имя: </td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Отчество: </td>
        <td>@Model.MiddleName</td>
    </tr>
    <tr>
        <td>Номер телефона: </td>
        <td>@Model.NumberPhone</td>
    </tr>
    <tr>
        <td>Адрес: </td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Описание: </td>
        <td>@Model.Desc</td>
    </tr>
</table>

<div class="form">
    <form action="~/PhoneBook/Del" method="post">
        <input name="Id" value="@Model.Id" type="hidden" />
        <p><input type="submit" value="УДАЛИТЬ!" /></p>
    </form>
</div>